page-admin-logs {
    ion-item-divider {
        ion-label {
            color: #ffffff;
        }
    }

    ion-item-sliding {
        ion-item-options {
            button {
                width: 50px;
                height: 50px !important;
                margin: 0 !important;

                ion-icon {
                    font-size: 20px;
                    padding-bottom: 0 !important;
                }
            }
        }
    }
}
